/* TODO SUPPRIMER ET REMPLACER PAR UN FICHIER JPG*/
.charsheet {
    background-image: url(https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png); /*black space with tiny white stars*/
    background-color: black;
    background-repeat: repeat;
    color: white;
  }