/* TODO SUPPRIMER ET REMPLACER PAR UN FICHIER JPG*/
.charsheet {
    background-image: url(https://raw.githubusercontent.com/Sentakukii/IMPERATOR/main/imperator.jpg); 
    background-color: black;
    background-repeat: repeat;
    color: white;
  }